<article>
    <h2>Welcome!</h2>
    {{#each Project}}
    {{!-- <label>Company Name</label> : {{Company}} <br/> --}}
        <label>Project Name</label> : {{title}}<br/>
        <label>Description</label> : {{desc}}<br/>
        <label>Position</label> : {{position}}<br/>
        <label>Technologies</label> : {{technologies}}<br/>
        <label>StartDate</label> : {{startDate}}<br/>
        <label>End Date</label> : {{endDate}}<br/>
        <label>Hours</label> : {{hours}}<br/>
    {{/each}}

    {{#each Project}}
    <form method="post" action="/user/history/jobs/">
        <input class="hide" type="text" value="{{title}}" name="project">
        <input class="hide" type="text" value="{{position}}" name="position">
        <input class="hide" type="text" value="{{startDate}}" name="start">
        <input class="hide" type="text" value="{{endDate}}" name="end">
        <input type="submit" class="btn btn-primary" value="Book This Place">
    </form>
    {{/each}}
</article>