<article>

    <h2>Welcome {{username}}!</h2>
    
    <label>Name</label> : {{firstName}} {{lastName}}<br/>
    <label>Profession</label> : {{profession}}<br/>
    <label>Bio</label> : {{bio}}<br/>
    <a href="/logout" class="btn btn-default">Logout</a>
    
</article>